<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>custem</title>
    <meta>
    <meta>
    <link rel="stylesheet" href="style.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  </head>
  
  <body>
    <header>
      <h1>custem</h1>
        <button type="button" onclick="location.href='/users/new'" class="new-button">顧客登録</button>
        <button type="button" onclick="location.href='/'" class="new-button">顧客一覧</button>
        
        <div class="search-form">
          <%= form_tag('/users/search', method: :get) do %>
            <%= text_field_tag :search %>
            <%= submit_tag '検索', :name => nil %>
          <% end %>
        </div>
    </header>
    
      <table class="content">
        <thead>
          <tr>
            <th>ID</th>
            <th>名前</th>
            <th>性別</th>
            <th>年齢</th>
            <th>生年月日</th>
            <th>email</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= link_to "#{user.name}", url_for(user) %></td>
              <td><%= user.gender %></td>
              <td><%= user.age %></td>
              <td><%= user.birthday %></td>
              <td><%= user.email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    <footer>
    </footer>
  </body>
</html>



